@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  width: 100%;
  height: 100%;
}
#app {
  width: 100%;
  height: 100%;
}
body {
  font-family: 'Noto Serif SC', 'Source Han Serif SC', 'Source Han Serif',
    'source-han-serif-sc', 'PT Serif', 'SongTi SC', 'MicroSoft Yahei', Georgia,
    serif;
  cursor: url(https://cdn.jsdelivr.net/gh/xiabo2/vieu@master/S1.cur), default;
}
